  /* BODY */
body {
  background: rgb(41,130,212);
  background: -moz-linear-gradient(0deg, rgba(41,130,212,1) 0%, rgba(175,216,254,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(41,130,212,1) 0%, rgba(175,216,254,1) 100%);
  background: linear-gradient(0deg, rgba(41,130,212,1) 0%, rgba(175,216,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2982d4",endColorstr="#afd8fe",GradientType=1);font-family: 'Roboto', sans-serif;
  h1{
    background-color: rgb(80, 80, 80);
    font-size: nth($syze, 4 );
    color: white;
  }
}
  
.img {
  width: 300px;
}

.container-text {
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}