  /* BODY */
body {
  background: rgb(41,130,212);
  background: -moz-linear-gradient(0deg, rgba(41,130,212,1) 0%, rgba(175,216,254,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(41,130,212,1) 0%, rgba(175,216,254,1) 100%);
  background: linear-gradient(0deg, rgba(41,130,212,1) 0%, rgba(175,216,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2982d4",endColorstr="#afd8fe",GradientType=1);font-family: 'Roboto', sans-serif;
  .titulo{
    background-color: rgb(80, 80, 80);
    font-size: nth($syze, 4 );
    color: white;
  }
}
  
.img {
  width: 300px;
  height: 180px;
}

.video {
  width: 480px;
  height: 255px;
}

.font-text {
  font-size: 18px;
}

.container-text {
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}

.slider {
  width: 300px;
  height: 180px;
  overflow: hidden;
  position: relative;
}

.slider-container {
  width: calc(300px * 3); /* Ajusta este valor según la cantidad de imágenes */
  height: 100%;
  display: flex;
  animation: slide 5s infinite;
}

.slider-img {
  width: 300px;
  height: 180px;
}

@keyframes slide {
  0% {
    transform: translateX(-400);
    opacity: 0;
  }
  16% {
    opacity: 1;
    transform: translateX(0);
  }
  33% {
    transform: translateX(-300px);
  }
  50% {
    transform: translateX(-600px);
    opacity: 1;
  }
  66% {
    transform: translateX(-900px);
  }
  83% {
    transform: translateX(-1200px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}