 /* CUADRO DE REDES */
 /* Mapas, Rgba, Listas y Extend*/
.square-box {
    width: map-get($caja_redes, width ); /* Mapa */
    border-style: map-get($caja_redes , border-style ); /* Mapa */
    background-color: rgba($color-black, 0.7); /* Rgba */
    border-radius: nth($syze, 2 ); /* Lista */
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    @include marpad0(50px,0px); /* Mixin */
}

.redes {
    width: 32px;
    @extend %marpad0; /* Extend */
}

.redes-letras {
    color: white;
    text-decoration: map-get($caja_redes, text-decoration ); /* Mapa */
}

.redes-letras:hover {
    color: white;
}


#imgIg {
    width: 27px;
    margin: 4px;
}
  